body{
 font-family: 'Poppins', sans-serif;
 margin: 0;
}

h1{
 font-size: 50px;
}

.orange-color span{
 color: orange;
}



.flexible-container{
 display: flex;
 margin-bottom: 150px;
}


.top-part{
 width: 50%;
 padding-left: 5%;
}

.top-banner2{
 margin-top: 20px;
}

.top-part img{
 width: 80%;
}

.btn{
 text-decoration: none;
 background-image: linear-gradient(tomato, red);
 padding: 10px 40px;
 border-radius: 5px;
 font-weight: 700;
 font-family:sans-serif;
 color:white;
 text-transform: uppercase;
}

.btn-two{
 margin-top:50px;
 text-decoration: none;
 background-image: linear-gradient(tomato, red);
 padding: 10px 40px;
 border-radius: 5px;
 font-weight: 700;
 font-family:sans-serif;
 color:white;
 text-transform: uppercase;
}

.top-banner{
 background-image: url(./images/top-banner.png);
 background-repeat:no-repeat;
}


/* Top-banner secound */

.top-part1{
 width: 50%;
 padding-left: 5%;
 padding-right: 2%;

}

.top-part2{
 width: 50%;
 padding-right: 10%;

}

.top-part1 img{
 width: 80%;
}


.top-banner2{
 background-image: url(./images/dream-bg.png);
 background-repeat: no-repeat;
 background-position: right;
}


/* Experiences section */

.experiance-part{
 background-image: url(./images/exp-bg.png);
 background-repeat: no-repeat;
 background-position: left;

}

.top-part3{
 width: 40%;
 margin-left: 5%;
 margin-right: 5%;
 padding-left: 20px;
 border-radius: 10px;
 box-shadow: 10px 10px 40px gray;
 border-left: 10px solid;
}

#side-design{
 border-left: 7px solid;
 border-image: linear-gradient(blue, cyan);
 border-image-slice: 1;
}

#side-design1{
 border-left: 7px solid;
 border-image: linear-gradient(salmon, tomato);
 border-image-slice: 1;
}

.top-part3 h1{
 font-size: 30px;
}

.another-orange-color{
 color: orange;
}



/* Footer */
footer p{
 text-align: center;
}
